[Unit]
Description=A Cloudflare Beacon to identify a Known Network
After=network-online.target

[Container]
Image=docker.io/nginx:latest
PublishPort={{ cloudflare.beacon_port }}:443/tcp

Volume=/etc/cloudflare-beacon/beacon.conf:/etc/nginx/conf.d/beacon.conf:Z
Volume=/etc/cloudflare-beacon/beacon.crt:/etc/nginx/beacon.crt:Z


[Install]
# Start by default on boot
WantedBy=multi-user.target default.target
