server {
    listen       443 ssl;
    server_name  {{ fqdn }} ;
    ssl_certificate     beacon.crt;
    ssl_certificate_key beacon.key;
    ssl_protocols       TLSv1 TLSv1.1 TLSv1.2 TLSv1.3;
    ssl_ciphers         HIGH:!aNULL:!MD5;

    location / {
        root   /usr/share/nginx/html;
        index  index.html index.htm;
    }
}
