#
# A simple corefile for CoreDNS
#
{{ dns.nameservers[ansible_hostname].ipv4 }}:53 {
  cache
  forward . {{ dns.forwarders|join(' ') }}
}

{% for zone in dns.zones %}
{{ zone.fqdn }}:53 {
  file zones/{{ zone.file }}
}
{% endfor %}
