#
# A simple corefile for CoreDNS
#
.:53 {
  # bind {{ dns.nameservers[ansible_hostname].ipv4 }}
  cache
  forward . {{ dns.forwarders|join(' ') }}
}

{% for zone in dns.zones %}
{{ zone.fqdn }}:53 {
  # bind {{ dns.nameservers[ansible_hostname].ipv4 }}
  file zones/{{ zone.file }}
}
{% endfor %}
